body {
  background-color: #2F3537;
  color: #FFF;
  background: linear-gradient(#0000005A, #0000005A),
              url(https://images.unsplash.com/photo-1508974462591-3c124867fdf8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1472&q=80) no-repeat fixed;
              /* url(https://images.unsplash.com/photo-1508873696983-2dfd5898f08b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80) no-repeat ; */
  background-size: cover;
}

.navbar {
  background-color: #303030;
}

.sticky-top {
  position: fixed;
  width: 100%;
}

.container {
  margin-top: 3.5rem;
}

.c-form-container {
  margin-top: 1rem;
  width: 60vw;
}

.form-control {
  background-color: #2F3537CC;
  color: #FFF;
  border-color: #8A8D8E;
}

.form-control:focus {
  background-color: #505355;
  color: #FFF;
  border-color: #FFF;
  box-shadow: 0 0 0 0.25rem rgb(255 255 255 / 50%);
}

.input-group-text {
  background-color: #5E6162;
  color: #FFF;
}

input[type="file"]::-webkit-file-upload-button {
  background-color: #5E6162;
  color: #FFF;
}

input[type="file"]:hover::-webkit-file-upload-button {
  color: #000;
}

.btn-info,
.btn-danger,
.btn-success {
  min-width: 100px;
}

.btn-success:hover {
  background-color: #B7F153;
  color: #000;
}
.btn-success {
  background-color: #157347;
  color: #FFF;
}

.btn-danger {
  background-color: #bb2d3b;
  color: #FFF;
}

.btn-danger:hover {
  background-color: #F64662;
}
.alert-danger {
  background-color: #bb2d3b;
  color: #FFF;
  opacity: 0.8;
}
.btn-close {
  opacity: 0.75;
}

.btn-close:hover {
  opacity: 1;
}

.card {
  background-color: #414547CC;
}

.text-primary {
  color: #38A5D0 !important;
}

.list-group-item {
  background-color: #414547;
  color: #FFF;
  border: 1px solid #505355;
}

.text-muted {
  color: #6A6F71;
}
.card-footer {
  background-color: #505355;
}

a {
  color: #38A5D0;
  text-decoration: none;
}

a:hover {
  color: #38A5D0;
  text-decoration: underline;
}

.mapboxgl-popup {
  min-width: 240px;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  border-bottom-color: #2F3537;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: #2F3537;
}

.mapboxgl-popup-content {
  background-color: #2F3537;
}

.mapboxgl-popup-content h3 {
  margin-top: 10px;
  color: #F0F0F0;
  margin-bottom: 3px;
  text-align: left;
}
.mapboxgl-popup-content hr {
  margin-top: 0;
  margin-bottom: 3px;
}
.mapboxgl-popup-content p {
  color: #F0F0F0;
  margin-bottom: 0;
  font-style: italic;
}

.mapboxgl-popup-close-button {
  color: #FFF;
  outline: none;
}

.mapboxgl-popup-close-button:hover {
  background-color: #505355;
}

.btn-delete {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

fieldset, h2, div.mt-4 {
  display: inline-block;
}

#map {
  width: 100%;
  height: 300px;
  border-radius: 10px;
}

#cluster-map {
  width: 100%;
  height: 500px;
  margin-top: 32px;
  border-radius: 10px;
}